









body{
    background-image: url("C:\Users\solicode\Desktop\a.png");
}



h1 {
color: brown; 
width: 70%;


}
img.hassan {
    float: left;
    width:  400px;

    height:  500px;

}                             

ul.A{
    color: rgb(0, 0, 0);
    line-height: 50px;
font-size: 20px;
list-style: none;
border: 1px solid black ;
margin-right: 200px;
margin-left: 200px;
margin-bottom:10px ;
padding: 15px;


}

img.maroc {

    width: 80px;
    height: 60px;
    left: 450px;
    
float: right 200px ;

    top: 80px;


}